* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
nav,
.statistics-number,
.billboard-button p {
    font-weight: 900;
    font-family: 'Black Han Sans', sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    padding: 96px 0 32px 0;
    text-align: center;
}

h3 {
    padding-bottom: 8px;
    font-size: 16px;

}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.gallery,
.description-wrapper,
.comments,
.contact,
.billboard-box {
    background-color: #F4F4F4;
}

form input, 
form textarea,
#contact-box,
.comments-box {
    background-color: #ffffff;
}

header,
footer,
.comments-wrapper {
    background-color: #000000;
}

button,
.statistics,
.top-secondary-section,
header nav li a, 
header .container,
footer {
    color: #ffffff;
}

header .container {
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.billboard-button,
.billboard-box {
    box-shadow: 4px 4px 8px #000000;
}

header .container,
.top-section .container,
.top-secondary-section .container ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header img {
    height: 20px;
}

header nav li {
    display: inline;
    padding: 12px;
}

header nav li:hover {
    background-color: #1c1c1c;
}

header nav li a {
    text-decoration: none;
    font-weight: 600;
}

.social-media li {
    display: inline;
    margin-left: 8px;
}

.social-media li a {
    text-decoration: none;
}

.top-section {
    background: #8C030E url(images/shanghai-sunset-billboard.jpg) no-repeat center top; /*Background shorthand: color image repeat position */
    height: 550px;
    max-width: 1280;
}

.top-section .container {
    height: 100%;
}

.billboard {
    margin-top: auto;
    margin-bottom: auto;
}

.billboard-box {
    color: #8C030E;
    width: 550px;
    height: 300px;
    position: relative; /*Centralizar verticalmente: elemento pai*/
}

.billboard-text {
    padding: 0 24px;
    position: absolute; /*Centralizar verticalmente: elemento filho: position top transform*/
    top: 50%;
    transform: translate(0,-50%);
}

.billboard-button {
    position: absolute;
    margin-top: -25px;
    margin-left: 90px;
}


.billboard-button p,
footer {
    text-align: center;
}

.billboard-button p {
    background-color: #F2BE05;
    text-align: center;
    width: 370px;
    padding: 12px;
}

.billboard-button:hover {
    transform: scale(102%);
    transition: ease-in-out all 0.3s;
}

.billboard-button a {
    color: #000000;
    text-decoration: none;
}

.billboard-img img{
    height: 550px;
}

.top-secondary-section {
    background-color: #8C030E;
    border-top: 1px solid #F4F4F4; /*Border shorthand: width style color*/
}

.billboard-text p,
.top-secondary-section .container,
.statistics-content {
    padding-top: 16px;
    padding-bottom: 16px;
}

.top-secondary-section ul {
    flex-wrap: wrap;
    display: flex;
}

.top-secondary-section li {
    width: 220px;
}

.top-secondary-section p {
    padding-bottom: 16px;
}


.gallery-wrapper {
    display: grid;
    grid-template: repeat(5, 100px) / repeat(4, 25%);
    grid-gap: 1px;
}

.img-one,
.img-two,
.img-three,
.img-four {
    width: 100%;
    object-fit: cover;
}

.img-one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 200px;
}

.img-two {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 300px;    
}

.img-three {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    height: 300px;    
}

.img-four {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    height: 200px;    
}

.txt-five {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    height: 200px;
    padding: 8px;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description-element {
    width: 500px;
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.description img {
    height: 100px;
}

.comments .container {
    padding-bottom: 96px;
}
.comments-wrapper {
    display: flex;
    align-items: center;
}

.billboard-box,
.comments-wrapper,
#contact-box {
    border-radius: 20px;
}

.comments-box {
    border-radius: 20px 0 0 20px;
    padding: 32px;
    width: 70%;
}

.comments-content {
    display: flex;
    align-items: center;
    padding: 16px;
}

.comments-content img {
    padding-right: 16px;
    width: 125px;
}

.statistics {
    padding: 32px;
    width: 30%;
}

.statistics-number {
    font-size: 64px;
}

.contact {
    background: #8C030E url(./images/img-lights.jpg) no-repeat center top;
    max-width: 1280;
}

.contact .container {
    padding: 32px 0 32px 0;
}

.contact h2 {
    color: #8C030E;
    padding: 0 0 16px 0;
}

#contact-box {
    width: 400px;
    padding: 32px;
    margin: auto;
}

.fill-out,
textarea,
button {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 16px;
}

.fill-out, 
textarea {
    border-bottom: 1px solid #000000;
    padding: 16px 8px 4px 8px;
    color: #000000;
}

.fill-out:focus, textarea:focus {
    border: none;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    font-family: 'Black Han Sans', sans-serif;;
    font-size: 16px;
    font-weight: 700;
    background-color: #8C030E;
    padding: 16px 0;
    cursor: pointer;
    margin-top: 16px;
}

button:hover {
    background-color: #b22632;
    transition: ease-in-out all 0.2s;
}

footer,
label {
    font-size: 12px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
